<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    
    <link rel="icon" href="{{ url_for('static', filename='logos/rclogo.png') }}" type="image/png">

    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/experiments.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/animations.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/experiments.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/join-us.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/news.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cern.css') }}">

    <title>{% block title %}Runnymede STEM Club{% endblock %}</title>

    </head>
    <body>
        <header id="main-header">
            <div class="left-section">
            <div class="main-title">
                Runnymede STEM Club
            </div>
            <button class="logo-container">
                <a href="https://runnymede-college.com/" target="_blank">
                <img class="runnymede-logo" src="{{ url_for('static', filename='logos/rclogo.png') }}" alt="Could Not Find image">
                </a>
                <div class="toollink">School Website</div>
            </button>
            </div>
            <div class="right-section">
            <button class="news-button">
                <a href="/news">
                <img class="news-icon" src="{{ url_for('static', filename='logos/news-icon.png') }}">
                </a>
                <div class="toollink">Science News</div>
            </button>
            <button class="contact-us-button">
                <a href="/contact">
                <img class="contact-us-icon" src="{{ url_for('static', filename='logos/contact-us-icon.svg') }}">
                </a>
                <div class="toollink">Contact Us</div>
            </button>
            {% if current_page == 'home' %}
                <button id="menuButton" class="menu-button">
                    <img class="menu-icon" src="{{ url_for('static', filename='logos/menu.svg') }}" alt="Could not Find Image">
                </button>
                </div>
                <div id="menu" class="menu">
                    <ul>
                        <li class="nav-element"><a href="#home">Home</a></li>
                        <li class="nav-element"><a href="#about">About</a></li>
                        <li class="nav-element"><a href="#experiments">Experiments</a></li>
                        <li class="nav-element"><a href="#join">Join Us</a></li>
                    </ul>
                </div>
            {% else %}
                <button class="home-button">
                    <a href="/home">
                    <img class="home-icon" src="{{ url_for('static', filename='logos/home-icon.svg') }}">
                    </a>
                    <div class="toollink">Back to Home</div>
                </button>
            {% endif %}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>